@media only screen and (max-width: 600px) {
  /* Estilos para pantallas pequeñas */
}

@media only screen and (min-width: 601px) and (max-width: 1024px) {
  /* Estilos para pantallas medianas */
}

@media only screen and (min-width: 1025px) {
  /* Estilos para pantallas grandes */
}


@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@700&display=swap'); 

body, h1, h2, p {
    font-family: 'Libre Baskerville', sans-serif;
    margin: 0;
    padding: 0;
}

@import "components/_header";

@import "components/testimonios";

@import "components/section";

@import "components/img";





iframe {
    width: 100%;
    height: 100%;
    border: 0;
  }

  @import "components/footer";