@media screen and (max-width: 767px) {
        body {
      font-size: 14px;
    }
  }

@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@700&display=swap'); 

body, h1, h2, p {
    font-family: 'Libre Baskerville', sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #631b1b;
    color: #fff;
    text-align: center;
    padding: 5px 0;
}

.navbar {
    display: grid;
    place-items: center;
    padding-left: 150px; 
}

.navbar-menu {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 10px;
}

.navbar-menu li {
    text-align: center;
}

.navbar-menu a {
    text-decoration: none;
    color: #fff;
    padding: 10px;
    display: block;
    transition: background-color 0.3s ease;
    border: 1px solid #fff;
}

.navbar-menu a:hover {
    background-color: #555;
}

section {
    max-width: 800px;
    margin: 20px auto;
    text-align: justify;
}

section h2 {
    color: #333;
}

section p {
    color: #666;
}

.banner{
    width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}

.inicio{
    display: flex;
    justify-content: space-between;
    margin: 40px 20px;
    overflow-x: auto;    
}


.testimonios .lista{
    list-style: none;
    padding: 0;
    margin: 0;
}

.testimonios .lista2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 20px;

}

.testimonios .lista2 .cliente {
    max-width: 100px;
    margin-right: 20px;
}


.carousel-item {
    max-width: 100%;
    height: auto;
    max-height: 400px; 
    margin: 0 auto;
}


footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}

footer ul {
    list-style: none;
}

footer ul li {
    display: inline;
    margin-right: 10px;
}

footer a {
    text-decoration: none;
    color: #fff;
}

footer::before {
    content: "¡Síguenos en nuestras redes sociales!";
    display: block;
    font-weight: bold;
}

footer::after {
    content: "© 2024 Di Giuseppe Repuestos. Gracias por confiar.";
    display: block;
    font-style: italic;
}
