.banner {
    width: 100%;
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0;
  }  
  
  .inicio img {
    max-width: 30%;
    transition: transform 0.3s ease-in-out;
    height: auto;
  }
  
  .inicio{
    display: flex;
    justify-content: space-between;
  }
  .inicio img:hover {
    transform: scale(1.2); /* Ajusta el nivel de zoom al pasar el ratón */
  }

  .herramientas{
    max-width: 50%;
  }
  


.carousel-item {
    max-width: 100%;
    height: auto;
    max-height: 400px; 
    margin: 0 auto;
}

