.banner {
    width: 100%;
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0;
  }  
  
  .inicio img {
    width: 615px;
    transition: transform 0.3s ease-in-out;
  }
  
  .inicio img:hover {
    transform: scale(1.2); /* Ajusta el nivel de zoom al pasar el ratón */
  }


.carousel-item {
    max-width: 100%;
    height: auto;
    max-height: 400px; 
    margin: 0 auto;
}